<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.dao.mapper.StakeProductMapper">

    <resultMap type="StakeProduct" id="StakeProductResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sales"    column="sales"    />
        <result property="stakeUnitAmount"    column="stake_unit_amount"    />
        <result property="extraStakeValueUsdt"    column="extra_stake_value_usdt"    />
        <result property="dayReward"    column="day_reward"    />
        <result property="validDays"    column="valid_days"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStakeProductVo">
        select id, name, sales, stake_unit_amount, extra_stake_value_usdt, day_reward, valid_days, status, create_time, update_time, remark from t_stake_product
    </sql>

    <select id="selectStakeProductList" parameterType="StakeProduct"
            resultMap="StakeProductResult">
        <include refid="selectStakeProductVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sales != null "> and sales = #{sales}</if>
            <if test="stakeUnitAmount != null "> and stake_unit_amount = #{stakeUnitAmount}</if>
            <if test="extraStakeValueUsdt != null "> and extra_stake_value_usdt = #{extraStakeValueUsdt}</if>
            <if test="dayReward != null "> and day_reward = #{dayReward}</if>
            <if test="validDays != null "> and valid_days = #{validDays}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by id desc
    </select>

</mapper>
